body{
margin:0;
font-family:Arial;
overflow-x:hidden;
}

.hero{

height:100vh;
text-align:center;
padding-top:80px;
background:#111;
color:white;
position:relative;

}

#title{

letter-spacing:10px;
font-size:40px;
opacity:0;

}

.stats{

display:flex;
justify-content:center;
gap:40px;
margin-top:30px;

}

.box{

font-size:22px;
opacity:0;

}

#car{

width:400px;
position:absolute;
bottom:50px;
left:50%;
transform:translateX(-50%);

}

.content{

height:200vh;
padding:50px;

}


html{
scroll-behavior:smooth;
}